# Objectives
1. Use Excel to visually identify and impute missing values
2. Dynamically Identify Numerical and Categorical Features
3. Use Python to Identify and Impute Missing Values
    - Use **SimpleImputer** to treat both Numerical and Categorical Features

# Import Python Packages

In [1]:
import pandas as pd
import numpy as np

# Import Data

In [4]:
train = pd.read_csv('../data/input/p1_classification_train.csv')
test = pd.read_csv('../data/input/p1_classification_test.csv')

## Check Data

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           23490 non-null  int64
 1   department            23490 non-null  object
 2   region                23490 non-null  object
 3   education             22456 non-null  object
 4   gender                23490 non-null  object
 5   recruitment_channel   23490 non-null  object
 6   no_of_trainings       23490 non-null  int64
 7   age                   23490 non-null  int64
 8   previous_year_rating  21678 non-null  float64
 9   length_of_service     23490 non-null  int64
 10  KPIs_met >80%         23490 non-null  int64
 11  awards_won?           23490 non-null  int64
 12  avg_training_score    23490 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB

# Identify Missing Values

## Method 1 : isnull + sum

In [8]:
train.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

## Method 2 : percentage missing values

In [13]:
# Find Lenght
len(train)

54808

In [14]:
train.isnull().sum()/len(train)

employee_id             0.000000
department              0.000000
region                  0.000000
education               0.043953
gender                  0.000000
recruitment_channel     0.000000
no_of_trainings         0.000000
age                     0.000000
previous_year_rating    0.075244
length_of_service       0.000000
KPIs_met >80%           0.000000
awards_won?             0.000000
avg_training_score      0.000000
is_promoted             0.000000
dtype: float64

# Divide Data into X and y

In [16]:
y = train['is_promoted']
X = train.drop(['is_promoted','employee_id'], axis = 1)

In [19]:
y.value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [17]:
X.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73

## Identify Numerical Features

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   department            54808 non-null  object
 1   region                54808 non-null  object
 2   education             52399 non-null  object
 3   gender                54808 non-null  object
 4   recruitment_channel   54808 non-null  object
 5   no_of_trainings       54808 non-null  int64
 6   age                   54808 non-null  int64
 7   previous_year_rating  50684 non-null  float64
 8   length_of_service     54808 non-null  int64
 9   KPIs_met >80%         54808 non-null  int64
 10  awards_won?           54808 non-null  int64
 11  avg_training_score    54808 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 5.0+ MB

In [38]:
numerical_features = X.select_dtypes(include = ['int64','float64']).columns.values
numerical_features

array(['no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score'], dtype=object)

## Identify Categorical Features

### Method 1 : Using Exclude

In [24]:
categorical_features = train.select_dtypes(exclude = ['int64','float64']).columns.values
categorical_features

array(['department', 'region', 'education', 'gender',
       'recruitment_channel'], dtype=object)

### Method 2 : Using Include

In [25]:
categorical_features = train.select_dtypes(include = ['object']).columns.values
categorical_features

array(['department', 'region', 'education', 'gender',
       'recruitment_channel'], dtype=object)

# Impute Missing Values

## Impute Categorical Features

### Declare an Instance

In [26]:
from sklearn.impute import SimpleImputer
cat_impute = SimpleImputer(strategy='constant', fill_value = 'missing')

### Fit

In [32]:
X[categorical_features].head()

          department     region         education gender recruitment_channel
0  Sales & Marketing   region_7  Master's & above      f            sourcing
1         Operations  region_22        Bachelor's      m               other
2  Sales & Marketing  region_19        Bachelor's      m            sourcing
3  Sales & Marketing  region_23        Bachelor's      m               other
4         Technology  region_26        Bachelor's      m               other

In [29]:
cat_impute.fit(X[categorical_features])

SimpleImputer(fill_value='missing', strategy='constant')

### Transform/Apply - train data

In [30]:
X[categorical_features] = cat_impute.transform(X[categorical_features])

In [31]:
X[categorical_features].isnull().sum()

department             0
region                 0
education              0
gender                 0
recruitment_channel    0
dtype: int64

### Transform/Apply - test data

In [33]:
test[categorical_features] = cat_impute.transform(test[categorical_features])

In [34]:
test[categorical_features].isnull().sum()

department             0
region                 0
education              0
gender                 0
recruitment_channel    0
dtype: int64

## Imputing Numerical Features

### Declare Instance

In [35]:
#from sklearn.impute import SimpleImputer
num_impute = SimpleImputer(strategy='median')

### Fit

In [40]:
X[numerical_features].head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,1,35,5.0,8,1,0,49
1,1,30,5.0,4,0,0,60
2,1,34,3.0,7,0,0,50
3,2,39,1.0,10,0,0,50
4,1,45,3.0,2,0,0,73

In [41]:
num_impute.fit(X[numerical_features])

SimpleImputer(strategy='median')

### Transform/Apply - train data

In [42]:
X[numerical_features] = num_impute.transform(X[numerical_features])

### Transform/Apply - test data

In [43]:
test[numerical_features] = num_impute.transform(test[numerical_features])

# Final Check on train and test data

In [45]:
X.isnull().sum()

department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
dtype: int64

In [46]:
test.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
dtype: int64